Repository MinBZK/regelrecht-mvp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-format, rust-lint, validate-law-yaml

rust-format:
  name: Check Rust formatting
  entry: just format
  language: system
  pass_filenames: false

rust-lint:
  name: Rust clippy lints
  entry: just lint
  language: system
  pass_filenames: false

validate-law-yaml:
  name: Validate law YAML schema
  entry: just validate
  language: system
  pass_filenames: true

feat(admin): add OIDC/Keycloak SSO authentication
  packages/admin/Cargo.lock
  packages/admin/Cargo.toml
  packages/admin/frontend-src/app.js
  packages/admin/frontend-src/vite.config.js
  packages/admin/src/auth.rs
  packages/admin/src/config.rs
  packages/admin/src/handlers.rs
  packages/admin/src/main.rs
  packages/admin/src/middleware.rs
  packages/admin/src/oidc.rs
  packages/admin/src/state.rs
Due: rust-format, rust-lint

fix(admin): replace in-memory session store with PostgreSQL-backed store
  packages/admin/Cargo.lock
  packages/admin/Cargo.toml
  packages/admin/src/main.rs
Due: rust-format, rust-lint

feat(admin): add local Keycloak dev setup and cleanup session deletion
  Justfile
  docker-compose.yml
  packages/admin/.env.dev
  packages/admin/keycloak/regelrecht-realm.json
  packages/admin/src/auth.rs
  packages/admin/src/config.rs
  packages/admin/src/main.rs
  packages/admin/src/oidc.rs
Due: rust-format, rust-lint

fix(admin): fix local SSO dev setup and switch to 8000-range ports
  Justfile
  docker-compose.yml
  packages/admin/.env.dev
  packages/admin/keycloak/regelrecht-realm.json
  packages/admin/src/config.rs
  packages/admin/src/main.rs
Due: rust-format, rust-lint

Add release workflow for engine binary
  .github/workflows/release-engine.yml
  script/install-engine.sh
Due: none

fix: address review comments on engine release workflow
  .github/workflows/release-engine.yml
  Cargo.lock
  packages/engine/Cargo.toml
  packages/engine/src/bin/evaluate.rs
  script/install-engine.sh
Due: rust-format, rust-lint

fix: address bugs in evaluate binary and install script
  packages/engine/src/bin/evaluate.rs
  script/install-engine.sh
Due: rust-format, rust-lint

fix: bump rollup to 4.59.0 to resolve GHSA-mw96-cpmx-2vgc
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: add --locked flag and Cargo.lock to cache key in release workflow
  .github/workflows/release-engine.yml
Due: none

Add release workflow for engine binary (#176)
  .github/workflows/release-engine.yml
  Cargo.lock
  frontend/package-lock.json
  frontend/package.json
  packages/engine/Cargo.toml
  packages/engine/src/bin/evaluate.rs
  script/install-engine.sh
Due: rust-format, rust-lint

fix: use macos-latest for x86_64-apple-darwin cross-compilation
  .github/workflows/release-engine.yml
Due: none

fix: use macos-latest for x86_64-apple-darwin cross-compilation (#178)
  .github/workflows/release-engine.yml
Due: none

fix(admin): address review findings for OIDC/Keycloak SSO
  packages/admin/Cargo.lock
  packages/admin/Cargo.toml
  packages/admin/frontend-src/app.js
  packages/admin/src/auth.rs
  packages/admin/src/config.rs
  packages/admin/src/main.rs
  packages/admin/src/middleware.rs
  packages/admin/src/oidc.rs
Due: rust-format, rust-lint

fix(admin): derive OIDC base URL from request Host header
  packages/admin/src/auth.rs
  packages/admin/src/config.rs
  packages/admin/src/main.rs
  packages/admin/src/oidc.rs
Due: rust-format, rust-lint

fix(admin): harden OIDC auth security
  packages/admin/Cargo.lock
  packages/admin/Cargo.toml
  packages/admin/src/auth.rs
  packages/admin/src/config.rs
  packages/admin/src/main.rs
  packages/admin/src/oidc.rs
Due: rust-format, rust-lint

fix(admin): fix CI formatting and security audit failures
  deny.toml
  packages/admin/src/auth.rs
  packages/admin/src/config.rs
  packages/admin/src/oidc.rs
Due: rust-format, rust-lint

fix(admin): support OIDC_DISCOVERY_URL as alternative to KEYCLOAK env vars
  packages/admin/src/auth.rs
  packages/admin/src/config.rs
  packages/admin/src/main.rs
  packages/admin/src/oidc.rs
  packages/admin/src/state.rs
Due: rust-format, rust-lint

fix(admin): extract realm roles from access token instead of ID token
  packages/admin/src/auth.rs
Due: rust-format, rust-lint

fix(admin): add debug logging for realm role extraction
  packages/admin/src/auth.rs
Due: rust-format, rust-lint

fix(admin): fix cargo fmt formatting issues
  packages/admin/src/config.rs
  packages/admin/src/oidc.rs
Due: rust-format, rust-lint

fix(admin): prevent host header injection in OIDC auth
  packages/admin/src/auth.rs
  packages/admin/src/config.rs
Due: rust-format, rust-lint

fix(admin): harden OIDC auth — redact secrets, reduce PII logging, add middleware tests
  packages/admin/Cargo.lock
  packages/admin/Cargo.toml
  packages/admin/src/auth.rs
  packages/admin/src/config.rs
  packages/admin/src/middleware.rs
Due: rust-format, rust-lint

fix(admin): document trust model for JWT role extraction
  packages/admin/src/auth.rs
Due: rust-format, rust-lint

fix: add AskUserQuestion to allowed-tools in dependabot skill
  .claude/skills/dependabot/SKILL.md
Due: none

feat: add Claude Code skill for processing Dependabot PRs
  .claude/skills/dependabot/SKILL.md
Due: none

fix: wait for confirmed merge before processing next PR
  .claude/skills/dependabot/SKILL.md
Due: none

test(admin): add integration tests for OIDC auth handlers
  packages/admin/Cargo.lock
  packages/admin/Cargo.toml
  packages/admin/src/auth.rs
Due: rust-format, rust-lint

feat: zorgtoeslag POC-naar-MVP conversie + fix trace-vergelijking issues
  CONVERSION_REPORT.md
  features/zorgtoeslag.feature
  packages/engine/src/service.rs
  packages/engine/tests/bdd/steps/given.rs
  packages/engine/tests/bdd/steps/then.rs
  packages/engine/tests/bdd/steps/when.rs
  packages/engine/tests/bdd/world.rs
  packages/engine/tests/expected_zorgtoeslag_trace.txt
  regulation/nl/gemeentelijke_verordening/amsterdam/apv_erfgrens/2024-01-01.yaml
  regulation/nl/gemeentelijke_verordening/diemen/afstemmingsverordening_participatiewet/2015-01-01.yaml
  regulation/nl/ministeriele_regeling/regeling_standaardpremie/2024-01-01.yaml
  regulation/nl/wet/algemene_wet_inkomensafhankelijke_regelingen/2025-01-01.yaml
  regulation/nl/wet/burgerlijk_wetboek_boek_5/2024-01-01.yaml
  regulation/nl/wet/kieswet/2025-01-01.yaml
  regulation/nl/wet/participatiewet/2022-03-15.yaml
  regulation/nl/wet/penitentiaire_beginselenwet/2025-01-01.yaml
  regulation/nl/wet/wet_inkomstenbelasting_2001/2025-01-01.yaml
  regulation/nl/wet/wet_langdurige_zorg/2025-07-05.yaml
  regulation/nl/wet/wet_op_de_zorgtoeslag/2024-01-01.yaml
  regulation/nl/wet/zorgverzekeringswet/2025-01-01.yaml
Due: rust-format, rust-lint, validate-law-yaml

fix: correcte zorgtoeslag percentages, WIB waarden en partner-verdubbeling
  features/zorgtoeslag.feature
  packages/engine/src/operations.rs
  packages/engine/src/service.rs
  packages/engine/tests/expected_zorgtoeslag_trace.txt
  regulation/nl/wet/wet_inkomstenbelasting_2001/2024-01-01.yaml
  regulation/nl/wet/wet_op_de_zorgtoeslag/2024-01-01.yaml
  regulation/nl/wet/wet_op_de_zorgtoeslag/2025-01-01.yaml
Due: rust-format, rust-lint, validate-law-yaml

feat: add harvester worker for RIG deployment
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  Cargo.toml
  Justfile
  packages/Cargo.lock
  packages/Cargo.toml
  packages/pipeline/Cargo.toml
  packages/pipeline/Dockerfile.harvester-worker
  packages/pipeline/entrypoint.sh
  packages/pipeline/migrations/0001_initial_schema.sql
  packages/pipeline/src/bin/harvest_worker.rs
  packages/pipeline/src/config.rs
  packages/pipeline/src/db.rs
  packages/pipeline/src/error.rs
  packages/pipeline/src/git_ops.rs
  packages/pipeline/src/harvest.rs
  packages/pipeline/src/job_queue.rs
  packages/pipeline/src/law_status.rs
  packages/pipeline/src/lib.rs
  packages/pipeline/src/models.rs
  packages/pipeline/src/worker.rs
  packages/pipeline/tests/common/mod.rs
  packages/pipeline/tests/git_ops_tests.rs
  packages/pipeline/tests/harvest_tests.rs
  packages/pipeline/tests/job_queue_tests.rs
  packages/pipeline/tests/law_status_tests.rs
Due: rust-format, rust-lint

docs: add pipeline documentation and dev config from PR #125
  .env.example
  .gitignore
  CLAUDE.md
  README.md
  packages/pipeline/README.md
Due: none

docs: add POC-to-MVP zorgtoeslag corrections documentation
  doc/poc-migration/zorgtoeslag-corrections.md
Due: none

docs: clarify purpose of POC-to-MVP corrections document
  doc/poc-migration/zorgtoeslag-corrections.md
Due: none

fix: remove git dependency and fix critical worker bugs
  .env.example
  packages/pipeline/Dockerfile.harvester-worker
  packages/pipeline/entrypoint.sh
  packages/pipeline/src/bin/harvest_worker.rs
  packages/pipeline/src/config.rs
  packages/pipeline/src/error.rs
  packages/pipeline/src/git_ops.rs
  packages/pipeline/src/harvest.rs
  packages/pipeline/src/lib.rs
  packages/pipeline/src/worker.rs
  packages/pipeline/tests/git_ops_tests.rs
Due: rust-format, rust-lint

feat: add forensische zorg, verdragsinschrijving and buitenlands inkomen
  doc/poc-migration/zorgtoeslag-corrections.md
  features/zorgtoeslag.feature
  packages/engine/tests/dump_all_traces.rs
  packages/engine/tests/expected_zorgtoeslag_trace.txt
  packages/engine/tests/trace_integration.rs
  regulation/nl/wet/algemene_wet_inkomensafhankelijke_regelingen/2025-01-01.yaml
  regulation/nl/wet/wet_forensische_zorg/2025-01-01.yaml
  regulation/nl/wet/zorgverzekeringswet/2025-01-01.yaml
Due: rust-format, rust-lint, validate-law-yaml

fix(admin): derive base URL from request headers instead of env var
  packages/admin/.env.dev
  packages/admin/src/auth.rs
  packages/admin/src/config.rs
  packages/admin/src/main.rs
  packages/admin/src/oidc.rs
Due: rust-format, rust-lint

fix(grafana): fix shutdown signal handling and secure PAT temp file
  packages/grafana/entrypoint.sh
Due: none

Path conditions:
  rust-format: any of: \.rs$
  rust-lint: any of: \.rs$
  validate-law-yaml: any of: ^regulation/.*\.yaml$ and \.(yaml|yml)$
