Repository MinBZK/regelrecht-mvp: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, validate-law-yaml

ty-check:
  name: ty type checker
  entry: uv run ty check
  language: system
  pass_filenames: false

validate-law-yaml:
  name: validate law YAML files
  entry: uv run python script/validate.py
  language: system
  pass_filenames: true

Add date-based version selection to RuleResolver
  engine/context.py
  engine/rule_resolver.py
  engine/service.py
Due: ty-check

Restore v0.3.0 schema to original state
  schema/v0.3.0/schema.json
Due: none

Add execution trace rendering for behave tests
  engine/context.py
  features/steps/steps.py
Due: ty-check

Add Dutch zorgtoeslag tests with dynamic age calculation
  engine/logging_config.py
  features/steps/steps.py
  regulation/nl/wet/wet_basisregistratie_personen/2025-01-01.yaml
  regulation/nl/wet/wet_op_de_zorgtoeslag/zorgtoeslag.feature
  schema/v0.3.0/schema.json
Due: ty-check, validate-law-yaml

Enable running behave tests from any directory (PyCharm support)
  .gitignore
  behave.ini
  features/steps/steps.py
  regulation/nl/environment.py
Due: ty-check

Add peildatum parameter to vermogen calls in zorgtoeslag
  regulation/nl/wet/wet_op_de_zorgtoeslag/2025-01-01.yaml
Due: validate-law-yaml

Fix critical code review issues
  engine/context.py
  engine/engine.py
  engine/service.py
Due: ty-check

Fix high-urgency code review issues + tracing improvements
  Code Review - Engine Consolidation.md
  add_machine_readable.py
  doc/engine-consolidatie-plan.md
  engine/context.py
  engine/engine.py
  engine/rule_resolver.py
  engine/service.py
  schema/v0.3.1/schema.json
  schema/v0.3.1/schema.json.new
Due: ty-check

Fix behave tests: REGULATION_DIR path and output filtering
  features/steps/steps.py
Due: ty-check

bd sync: 2025-12-25 11:48:53
  .beads/metadata.json
Due: none

bd daemon sync: 2025-12-25 11:54:23
  .beads/issues.jsonl
Due: none

bd daemon sync: 2025-12-25 11:54:27
  .beads/issues.jsonl
Due: none

bd daemon sync: 2025-12-25 11:54:35
  .beads/issues.jsonl
Due: none

bd daemon sync: 2025-12-25 11:55:18
  .beads/issues.jsonl
Due: none

Update UI prototype to match Figma design
  frontend/css/components/editor.css
  frontend/css/components/list.css
  frontend/css/components/panes.css
  frontend/css/components/tabs.css
  frontend/css/layout.css
  frontend/css/variables.css
  frontend/editor.html
  frontend/index.html
Due: none

Migrate UI prototype to @minbzk/storybook web components
  frontend/.npmrc
  frontend/MIGRATION-PROGRESS.md
  frontend/assets/rijkswapen.svg
  frontend/components/buttons.html
  frontend/components/forms.html
  frontend/components/index.html
  frontend/components/list.html
  frontend/components/navigation.html
  frontend/components/tabs.html
  frontend/css/components/editor.css
  frontend/css/components/navigation.css
  frontend/css/components/panes.css
  frontend/css/components/tabs.css
  frontend/css/layout.css
  frontend/editor.html
  frontend/index.html
  frontend/main.js
  frontend/package-lock.json
  frontend/package.json
  frontend/storybook-plan.md
  frontend/vite.config.js
Due: none

Apply code review recommendations
  .gitignore
  frontend/README.md
  frontend/assets/icons/arrow-down-in-bucket.svg
  frontend/assets/icons/back-in-time.svg
  frontend/assets/icons/business-suitcase.svg
  frontend/assets/icons/ellipsis-horizontal.svg
  frontend/assets/icons/envelope.svg
  frontend/assets/icons/exclamation-triangle.svg
  frontend/assets/icons/eye.svg
  frontend/assets/icons/file-text.svg
  frontend/assets/icons/gear.svg
  frontend/assets/icons/heart-filled.svg
  frontend/assets/icons/heart.svg
  frontend/assets/icons/house.svg
  frontend/assets/icons/info-circle.svg
  frontend/assets/icons/list-decreasing-lines.svg
  frontend/assets/icons/magnifier.svg
  frontend/assets/icons/pencil-on-square.svg
  frontend/assets/icons/person.svg
  frontend/assets/icons/question-mark-circle.svg
  frontend/assets/icons/square-and-arrow-up.svg
  frontend/assets/icons/squares-stack-plus.svg
  frontend/css/components/navigation.css
  frontend/css/components/panes.css
  frontend/css/main.css
  frontend/css/variables.css
Due: none

Fix editor page styling to match Figma design
  frontend/css/components/editor.css
  frontend/css/components/panes.css
  frontend/editor.html
Due: none

Add static HTML/CSS prototype for RegelRecht UI
  frontend/components/buttons.html
  frontend/components/forms.html
  frontend/components/index.html
  frontend/components/list.html
  frontend/components/navigation.html
  frontend/components/tabs.html
  frontend/css/components/collapsible.css
  frontend/css/components/editor.css
  frontend/css/components/list.css
  frontend/css/components/navigation.css
  frontend/css/components/panes.css
  frontend/css/components/tabs.css
  frontend/css/layout.css
  frontend/css/main.css
  frontend/css/reset.css
  frontend/css/variables.css
  frontend/editor.html
  frontend/index.html
Due: none

Redesign Machine tab from code blocks to structured sections
  frontend/css/components/panes.css
  frontend/index.html
Due: none

Replace Google Fonts with Rijksoverheid fonts
  frontend/css/variables.css
  frontend/editor.html
  frontend/fonts/ROsanswebtextbold.woff
  frontend/fonts/ROsanswebtextitalic.woff
  frontend/fonts/ROsanswebtextregular.woff
  frontend/fonts/ROserifwebbold.woff
  frontend/fonts/ROserifwebitalic.woff
  frontend/fonts/ROserifwebregular.woff
  frontend/fonts/fonts.css
  frontend/index.html
Due: none

Rename CSS classes to match Figma component names
  frontend/css/components/editor.css
  frontend/css/components/navigation.css
  frontend/css/components/panes.css
  frontend/css/layout.css
  frontend/editor.html
  frontend/index.html
Due: none

Add figma-navigator skill for design system context
  .claude/skills/figma-navigator/SKILL.md
  .claude/skills/figma-navigator/reference.md
Due: none

Fix icon references after filename normalization
  frontend/editor.html
  frontend/index.html
Due: none

Hide logo in editor navigation bar to match design
  frontend/editor.html
Due: none

Remove migration progress tracking file
  frontend/MIGRATION-PROGRESS.md
Due: none

Consolidate Figma skills and add Storybook docs
  .claude/skills/figma-navigator/SKILL.md
  .claude/skills/figma-to-html.md
  frontend/storybook-plan.md
Due: none

Add static HTML/CSS prototype for RegelRecht UI
  frontend/components/buttons.html
  frontend/components/forms.html
  frontend/components/index.html
  frontend/components/list.html
  frontend/components/navigation.html
  frontend/components/tabs.html
  frontend/css/components/editor.css
  frontend/css/components/list.css
  frontend/css/components/navigation.css
  frontend/css/components/panes.css
  frontend/css/components/tabs.css
  frontend/css/layout.css
  frontend/css/main.css
  frontend/css/variables.css
  frontend/index.html
Due: none

Rename CSS classes to match Figma component names
  frontend/css/components/editor.css
  frontend/css/components/navigation.css
  frontend/css/components/panes.css
  frontend/css/layout.css
  frontend/index.html
Due: none

Add figma-to-html skill and icon assets
  .claude/skills/figma-to-html.md
Due: none

Update UI prototype to match Figma design
  frontend/css/components/editor.css
  frontend/css/components/list.css
  frontend/css/components/panes.css
  frontend/css/components/tabs.css
  frontend/css/layout.css
  frontend/css/variables.css
  frontend/index.html
Due: none

Fix editor page styling to match Figma design
  frontend/css/components/editor.css
  frontend/css/components/panes.css
Due: none

Migrate UI prototype to @minbzk/storybook web components
  frontend/MIGRATION-PROGRESS.md
  frontend/components/buttons.html
  frontend/components/forms.html
  frontend/components/index.html
  frontend/components/list.html
  frontend/components/navigation.html
  frontend/components/tabs.html
  frontend/css/components/editor.css
  frontend/css/components/navigation.css
  frontend/css/components/panes.css
  frontend/css/components/tabs.css
  frontend/css/layout.css
  frontend/index.html
  frontend/storybook-plan.md
Due: none

Replace Google Fonts with Rijksoverheid fonts
  frontend/css/variables.css
  frontend/index.html
Due: none

Add Phase 1b with visual feedback from Figma review
  doc/PLAN-machine-action-sheet.md
Due: none

Apply code review recommendations
  frontend/css/components/navigation.css
  frontend/css/components/panes.css
  frontend/css/main.css
  frontend/css/variables.css
Due: none

Add machine action sheet modal with IF-ELSE operation (Phase 1)
  doc/PLAN-machine-action-sheet.md
  frontend/editor.html
  frontend/main.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/ChildOperationsList.vue
  frontend/src/components/MachineActionSheet.vue
  frontend/src/components/OperationEditor.vue
  frontend/src/components/ParentOperationsList.vue
  frontend/src/components/operations/IfElseOperation.vue
  frontend/src/composables/useOperationNavigation.js
  frontend/src/data/mockOperations.js
  frontend/vite.config.js
Due: none

Path conditions:
  ty-check: any of: \.py$
  validate-law-yaml: any of: ^regulation/nl/.*\.yaml$
