Repository MinBZK/regelrecht-mvp: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, validate-law-yaml

ty-check:
  name: ty type checker
  entry: uv run ty check
  language: system
  pass_filenames: false

validate-law-yaml:
  name: validate law YAML files
  entry: uv run python script/validate.py
  language: system
  pass_filenames: true

Fix schema: require value wrapper for computed actions
  regulation/nl/wet/burgerlijk_wetboek_boek_5/2024-01-01.yaml
  regulation/nl/wet/participatiewet/2022-03-15.yaml
  schema/v0.3.0/schema.json
Due: validate-law-yaml

Update harvester to v0.3.0 schema with improved YAML formatting
  harvester/storage/yaml_writer.py
  script/update_harvester_fixtures.py
  tests/harvester/fixtures/awir/expected.yaml
  tests/harvester/fixtures/kieswet/expected.yaml
  tests/harvester/fixtures/participatiewet/expected.yaml
  tests/harvester/fixtures/wlz/expected.yaml
  tests/harvester/fixtures/zorgtoeslag/expected.yaml
  tests/harvester/fixtures/zvw/expected.yaml
Due: ty-check

Add regulation conversions and conversion guide
  Justfile
  doc/prompts/law-conversion-guide.md
  pyproject.toml
  regulation/nl/wet/wet_basisregistratie_personen/2025-01-01.yaml
  regulation/nl/wet/wet_inkomstenbelasting_2001/2025-01-01-minimal.yaml
  regulation/nl/wet/wet_inkomstenbelasting_2001/2025-01-01.yaml
  regulation/nl/wet/wet_op_de_zorgtoeslag/2025-01-01.yaml
  regulation/nl/wet/zorgverzekeringswet/2025-01-01.yaml
  uv.lock
Due: validate-law-yaml

Add wet_minimumloon_en_minimumvakantiebijslag and conversion status doc
  doc/regulation-conversion-status.md
  regulation/nl/wet/wet_minimumloon_en_minimumvakantiebijslag/2025-01-01.yaml
Due: validate-law-yaml

Add machine_readable logic to converted regulations
  regulation/nl/wet/wet_basisregistratie_personen/2025-01-01.yaml
  regulation/nl/wet/wet_inkomstenbelasting_2001/2025-01-01.yaml
  regulation/nl/wet/zorgverzekeringswet/2025-01-01.yaml
Due: validate-law-yaml

Add engine consolidation plan (feature gap analysis PoC vs MVP)
  doc/engine-consolidatie-plan.md
Due: none

Add PathNode tree building and IndentLogger for execution tracing
  engine/context.py
  engine/engine.py
  engine/logging_config.py
Due: ty-check

Add TypeSpec class for output type enforcement
  engine/context.py
Due: ty-check

Add missing operations: IS_NULL, NOT_NULL, IN, NOT_IN, SUBTRACT_DATE
  engine/engine.py
Due: ty-check

Fix zorgtoeslag behavior tests with 0.3.0 schema laws
  features/bijstand.feature
  features/steps/steps.py
  features/zorgtoeslag.feature
  regulation/nl/ministeriele_regeling/regeling_standaardpremie/2025-01-01.yaml
  regulation/nl/wet/penitentiaire_beginselenwet/2025-01-01.yaml
  regulation/nl/wet/wet_basisregistratie_personen/2025-01-01.yaml
  regulation/nl/wet/wet_inkomstenbelasting_2001/2025-01-01.yaml
  regulation/nl/wet/wet_minimumloon_en_minimumvakantiebijslag/2025-01-01.yaml
  regulation/nl/wet/wet_op_de_zorgtoeslag/2025-01-01.yaml
  regulation/nl/wet/zorgverzekeringswet/2025-01-01.yaml
Due: ty-check, validate-law-yaml

Add ruamel.yaml to dependencies
  pyproject.toml
  uv.lock
Due: none

Add worktree settings copy instructions to CLAUDE.md
  CLAUDE.md
Due: none

Consolidate BWB_REPOSITORY_URL and fix title whitespace
  harvester/config.py
  harvester/parsers/content_parser.py
  harvester/parsers/wti_parser.py
Due: ty-check

Add reference-style links and structured references to harvester
  Justfile
  harvester/models.py
  harvester/parsers/article_builder.py
  harvester/parsers/content_parser.py
  harvester/parsers/reference_parser.py
  harvester/storage/yaml_writer.py
  schema/v0.3.1/schema.json
  script/update_harvester_fixtures.py
  tests/harvester/fixtures/awir/expected.yaml
  tests/harvester/fixtures/kieswet/expected.yaml
  tests/harvester/fixtures/participatiewet/expected.yaml
  tests/harvester/fixtures/wlz/expected.yaml
  tests/harvester/fixtures/zorgtoeslag/expected.yaml
  tests/harvester/fixtures/zvw/expected.yaml
  tests/harvester/test_harvester_integration.py
Due: ty-check

Add DataSourceRegistry for automatic leaf-level data resolution
  engine/context.py
  engine/data_sources.py
  engine/engine.py
  engine/logging_config.py
  engine/service.py
  features/steps/steps.py
  features/zorgtoeslag.feature
  regulation/nl/wet/wet_basisregistratie_personen/2025-01-01.yaml
  regulation/nl/wet/wet_inkomstenbelasting_2001/2025-01-01.yaml
  regulation/nl/wet/wet_op_de_zorgtoeslag/2025-01-01.yaml
Due: ty-check, validate-law-yaml

Move zorgtoeslag.feature to law folder with junction setup
  .gitignore
  Justfile
  regulation/nl/wet/wet_op_de_zorgtoeslag/zorgtoeslag.feature
Due: none

Move bijstand and erfgrensbeplanting features to law folders
  regulation/nl/wet/burgerlijk_wetboek_boek_5/erfgrensbeplanting.feature
  regulation/nl/wet/participatiewet/bijstand.feature
Due: none

Refactor: Extract text extraction utilities to separate module
  harvester/models.py
  harvester/parsers/article_builder.py
  harvester/parsers/content_parser.py
  harvester/parsers/text_extractor.py
  tests/harvester/test_article_builder.py
Due: ty-check

Add POC migrated laws and migration documentation
  .pre-commit-config.yaml
  .yamllint
  doc/migration/MIGRATIE-EINDRAPPORT.md
  doc/migration/algemene-kinderbijslagwet-migratie-notes.md
  doc/migration/algemene-kinderbijslagwet-migratie-samenvatting.md
  doc/migration/awb-migratie-analyse.md
  doc/migration/migration-result.md
  doc/migration/participatiewet-migratie-notes.md
  doc/migration/penitentiaire-beginselenwet-migratie-status.md
  doc/migration/poc-migratie-plan.md
  doc/migration/wet-brp-migratie-analyse.md
  doc/migration/wet-inkomstenbelasting-migratie-analyse.md
  doc/migration/wet-kinderopvang-migratie-status.md
  doc/migration/wet-wia-migratie-status.md
  doc/migration/ziektewet-migratie-analyse.md
  regulation/nl/amvb/besluit_basisveiligheidsnormen_stralingsbescherming/2018-01-01.yaml
  regulation/nl/amvb/besluit_bijstandverlening_zelfstandigen_2004/2025-01-01.yaml
  regulation/nl/amvb/besluit_kerninstallaties_splijtstoffen_en_ertsen/2024-01-01.yaml
  regulation/nl/wet/algemene_kinderbijslagwet/2025-01-01.yaml
  regulation/nl/wet/algemene_ouderdomswet/2024-01-01.yaml
  regulation/nl/wet/algemene_wet_bestuursrecht/2024-01-01.yaml
  regulation/nl/wet/handelsregisterwet_2007/2024-01-01.yaml
  regulation/nl/wet/kernenergiewet/2024-07-01.yaml
  regulation/nl/wet/kieswet/2024-01-01.yaml
  regulation/nl/wet/participatiewet/2023-01-01.yaml
  regulation/nl/wet/werkloosheidswet/2024-01-01.yaml
  regulation/nl/wet/wet_forensische_zorg/2025-01-01.yaml
  regulation/nl/wet/wet_inkomstenbelasting_2001/2025-01-01.yaml
  regulation/nl/wet/wet_kinderopvang/2024-01-01.yaml
  regulation/nl/wet/wet_op_de_huurtoeslag/2025-01-01.yaml
  regulation/nl/wet/wet_op_de_zorgtoeslag/2025-01-01.yaml
  regulation/nl/wet/wet_op_het_kindgebonden_budget/2025-01-01.yaml
  regulation/nl/wet/wet_structuur_uitvoeringsorganisatie_werk_en_inkomen/2024-01-01.yaml
  regulation/nl/wet/wet_studiefinanciering_2000/2024-01-01.yaml
  regulation/nl/wet/wet_werk_en_inkomen_naar_arbeidsvermogen/2025-01-01.yaml
  regulation/nl/wet/wetboek_van_strafrecht/2023-01-01.yaml
Due: validate-law-yaml

Remove unused uuid field from Law model
  .claude/skills/dutch-law-downloader/reference.md
  harvester/models.py
  script/download_law.py
  tests/harvester/test_models.py
  tests/harvester/test_yaml_writer.py
Due: ty-check

Fix literal block scalar (|-) for multiline text in YAML output
  harvester/storage/yaml_writer.py
  tests/harvester/test_yaml_writer.py
Due: ty-check

Fix yamllint compliance for harvester fixtures
  .pre-commit-config.yaml
  harvester/storage/yaml_writer.py
  script/update_harvester_fixtures.py
  tests/harvester/fixtures/awir/expected.yaml
  tests/harvester/fixtures/kieswet/expected.yaml
  tests/harvester/fixtures/participatiewet/expected.yaml
  tests/harvester/fixtures/wlz/expected.yaml
  tests/harvester/fixtures/zorgtoeslag/expected.yaml
  tests/harvester/fixtures/zvw/expected.yaml
Due: ty-check

Remove unused harvester fixture commands and review doc
  Justfile
  doc/reviews/harvester-phase1-review.md
  script/download_harvester_fixtures.py
Due: ty-check

Normalize whitespace in schema.json
  schema/v0.3.1/schema.json
Due: none

Add input validation and reduce HTTP timeout
  harvester/cli.py
  harvester/config.py
  harvester/models.py
  harvester/parsers/content_parser.py
  harvester/parsers/wti_parser.py
  tests/harvester/test_content_parser.py
  tests/harvester/test_validation.py
  tests/harvester/test_wti_parser.py
Due: ty-check

Rename article_builder to article_splitter
  harvester/parsers/article_splitter.py
  harvester/parsers/content_parser.py
  tests/harvester/test_article_splitter.py
Due: ty-check

Fix considerans.al extraction to handle inline elements
  harvester/parsers/article_splitter.py
Due: ty-check

Clarify metadata filtering in harvester documentation
  doc/harvester-architecture.md
Due: none

Add unit tests for deep nesting and sub-article suffixes
  tests/harvester/fixtures/participatiewet/expected.yaml
  tests/harvester/fixtures/wlz/expected.yaml
  tests/harvester/test_article_splitter.py
Due: ty-check

Add registry-based element handler architecture
  .gitattributes
  harvester/parsers/registry/__init__.py
  harvester/parsers/registry/config.py
  harvester/parsers/registry/engine.py
  harvester/parsers/registry/handlers/__init__.py
  harvester/parsers/registry/handlers/inline.py
  harvester/parsers/registry/handlers/preamble.py
  harvester/parsers/registry/handlers/structural.py
  harvester/parsers/registry/protocols.py
  harvester/parsers/registry/registry.py
  harvester/parsers/text_extractor.py
  tests/harvester/test_registry/__init__.py
  tests/harvester/test_registry/test_engine.py
  tests/harvester/test_registry/test_handlers.py
  tests/harvester/test_registry/test_registry.py
Due: ty-check

Remove legacy text extraction code in favor of registry handlers
  doc/harvester-architecture.md
  harvester/cli.py
  harvester/parsers/article_splitter.py
  harvester/parsers/content_parser.py
  tests/harvester/test_content_parser.py
Due: ty-check

Add declarative splitting module for article components
  harvester/parsers/splitting/__init__.py
  harvester/parsers/splitting/config.py
  harvester/parsers/splitting/engine.py
  harvester/parsers/splitting/protocols.py
  harvester/parsers/splitting/registry.py
  harvester/parsers/splitting/strategies.py
  tests/harvester/test_splitting/__init__.py
  tests/harvester/test_splitting/test_engine.py
  tests/harvester/test_splitting/test_registry.py
  tests/harvester/test_splitting/test_strategies.py
Due: ty-check

Treat unmarked lists as inline content, not split points
  harvester/parsers/article_splitter.py
  harvester/parsers/splitting/__init__.py
  harvester/parsers/splitting/engine.py
  harvester/parsers/splitting/protocols.py
  tests/harvester/fixtures/awir/expected.yaml
  tests/harvester/fixtures/kieswet/expected.yaml
  tests/harvester/fixtures/participatiewet/expected.yaml
  tests/harvester/fixtures/wlz/expected.yaml
  tests/harvester/fixtures/zvw/expected.yaml
  tests/harvester/test_article_splitter.py
Due: ty-check

Fix misleading docstring in ArticleComponent
  harvester/parsers/splitting/protocols.py
Due: ty-check

Fix operator precedence clarity and remove duplicate function
  harvester/parsers/content_parser.py
  harvester/storage/yaml_writer.py
Due: ty-check

Remove outdated docstring reference
  harvester/parsers/splitting/strategies.py
Due: ty-check

Remove unnecessary RFC-001 comments
  harvester/storage/yaml_writer.py
  tests/harvester/test_yaml_writer.py
Due: ty-check

Add RFC-005: Reference-style markdown links for cross-law references
  doc/rfcs/RFC-005-reference-style-markdown-links.md
Due: none

RFC-005: Change status to Proposed
  doc/rfcs/RFC-005-reference-style-markdown-links.md
Due: none

Path conditions:
  ty-check: any of: \.py$
  validate-law-yaml: any of: ^regulation/nl/.*\.yaml$
