Repository MinBZK/regelrecht-mvp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-format, rust-lint, validate-law-yaml

rust-format:
  name: Check Rust formatting
  entry: just format
  language: system
  pass_filenames: false

rust-lint:
  name: Rust clippy lints
  entry: just lint
  language: system
  pass_filenames: false

validate-law-yaml:
  name: Validate law YAML schema
  entry: just validate
  language: system
  pass_filenames: true

docs: add POC-to-MVP zorgtoeslag corrections documentation
  doc/poc-migration/zorgtoeslag-corrections.md
Due: none

fix: correcte zorgtoeslag percentages, WIB waarden en partner-verdubbeling
  features/zorgtoeslag.feature
  packages/engine/src/operations.rs
  packages/engine/src/service.rs
  packages/engine/tests/expected_zorgtoeslag_trace.txt
  regulation/nl/wet/wet_inkomstenbelasting_2001/2024-01-01.yaml
  regulation/nl/wet/wet_op_de_zorgtoeslag/2024-01-01.yaml
  regulation/nl/wet/wet_op_de_zorgtoeslag/2025-01-01.yaml
Due: rust-format, rust-lint, validate-law-yaml

docs: clarify purpose of POC-to-MVP corrections document
  doc/poc-migration/zorgtoeslag-corrections.md
Due: none

feat: add forensische zorg, verdragsinschrijving and buitenlands inkomen
  doc/poc-migration/zorgtoeslag-corrections.md
  features/zorgtoeslag.feature
  packages/engine/tests/dump_all_traces.rs
  packages/engine/tests/expected_zorgtoeslag_trace.txt
  packages/engine/tests/trace_integration.rs
  regulation/nl/wet/algemene_wet_inkomensafhankelijke_regelingen/2025-01-01.yaml
  regulation/nl/wet/wet_forensische_zorg/2025-01-01.yaml
  regulation/nl/wet/zorgverzekeringswet/2025-01-01.yaml
Due: rust-format, rust-lint, validate-law-yaml

fix: update stale report, add partner income data, add forensische zorg/verdragsinschrijving tests
  CONVERSION_REPORT.md
  features/zorgtoeslag.feature
  regulation/nl/wet/wet_op_de_zorgtoeslag/2024-01-01.yaml
  regulation/nl/wet/wet_op_de_zorgtoeslag/2025-01-01.yaml
Due: validate-law-yaml

fix: add missing valid_from to wet_forensische_zorg and fix box3_inkomen type mismatch
  regulation/nl/wet/wet_forensische_zorg/2025-01-01.yaml
  regulation/nl/wet/wet_inkomstenbelasting_2001/2024-01-01.yaml
  regulation/nl/wet/wet_inkomstenbelasting_2001/2025-01-01.yaml
Due: validate-law-yaml

fix: set wet_forensische_zorg valid_from to 2019-01-01 to match publication_date
  regulation/nl/wet/wet_forensische_zorg/2025-01-01.yaml
Due: validate-law-yaml

fix: rename wet_forensische_zorg to match valid_from date convention
  regulation/nl/wet/wet_forensische_zorg/2019-01-01.yaml
Due: validate-law-yaml

fix(wib2001): use per-category forfaitair rendement rates for box 3
  packages/engine/tests/expected_zorgtoeslag_trace.txt
  regulation/nl/wet/wet_inkomstenbelasting_2001/2024-01-01.yaml
  regulation/nl/wet/wet_inkomstenbelasting_2001/2025-01-01.yaml
Due: validate-law-yaml

fix(bdd): update box3 expected value for per-category rates
  CONVERSION_REPORT.md
  doc/poc-migration/zorgtoeslag-corrections.md
  features/zorgtoeslag.feature
Due: none

fix(bdd): use run_and_exit to fail CI on BDD test failures
  packages/engine/tests/bdd/main.rs
Due: rust-format, rust-lint

fix(wfz): correct URL date and add competent_authority
  regulation/nl/wet/wet_forensische_zorg/2019-01-01.yaml
Due: validate-law-yaml

docs: add REVIEW.md with domain-specific review guidelines
  REVIEW.md
Due: none

refactor(ci): use REVIEW.md as single source of truth for review guidelines
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): restore bash comments and CI-specific output format
  .github/workflows/claude-code-review.yml
Due: none

refactor(skills): simplify code-reviewer to use REVIEW.md as source of truth
  .claude/skills/code-reviewer/SKILL.md
Due: none

fix(review): add missing BWB API, git corpus, and BDD step reuse checks
  REVIEW.md
Due: none

fix: review cleanup — comments, test config, file organization
  doc/poc-migration/CONVERSION_REPORT.md
  packages/engine/src/service.rs
  packages/engine/tests/bdd/steps/then.rs
  packages/engine/tests/dump_all_traces.rs
Due: rust-format, rust-lint

feat(frontend): redesign ActionSheet with operation tree and settings editor
  frontend/src/components/ActionSheet.vue
  frontend/src/components/OperationSettings.vue
  frontend/src/utils/operationTree.js
Due: none

fix(wib2001): clamp box3_inkomen to zero minimum
  regulation/nl/wet/wet_inkomstenbelasting_2001/2024-01-01.yaml
  regulation/nl/wet/wet_inkomstenbelasting_2001/2025-01-01.yaml
Due: validate-law-yaml

feat: add law-review-harvest skill for reviewing harvested law YAML
  .claude/skills/law-review-harvest/SKILL.md
Due: none

feat(engine): PoC for hooks, overrides, and temporal operations
  features/bezwaartermijn.feature
  packages/engine/src/article.rs
  packages/engine/src/engine.rs
  packages/engine/src/operations.rs
  packages/engine/src/priority.rs
  packages/engine/src/resolver.rs
  packages/engine/src/service.rs
  packages/engine/src/trace.rs
  packages/engine/src/types.rs
  packages/engine/tests/bdd/steps/given.rs
  packages/engine/tests/bdd/steps/then.rs
  packages/engine/tests/bdd/steps/when.rs
  packages/shared/src/regulatory_layer.rs
  regulation/nl/koninklijk_besluit/kb_gelijkgestelde_dagen_2026_2028/2025-12-15.yaml
  regulation/nl/wet/algemene_termijnenwet/2026-01-01.yaml
  regulation/nl/wet/algemene_wet_bestuursrecht/2026-01-01.yaml
  regulation/nl/wet/vreemdelingenwet_2000/2026-01-01.yaml
  schema/v0.4.0/schema.json
Due: rust-format, rust-lint, validate-law-yaml

fix(regulation): move PoC YAML files to corpus/regulation/
  corpus/regulation/nl/koninklijk_besluit/kb_gelijkgestelde_dagen_2026_2028/2025-12-15.yaml
  corpus/regulation/nl/wet/algemene_termijnenwet/2026-01-01.yaml
  corpus/regulation/nl/wet/algemene_wet_bestuursrecht/2026-01-01.yaml
  corpus/regulation/nl/wet/vreemdelingenwet_2000/2026-01-01.yaml
Due: none

fix(regulation): correct KB metadata and Vw article structure
  corpus/regulation/nl/koninklijk_besluit/kb_gelijkgestelde_dagen_2026_2028/2025-07-22.yaml
  corpus/regulation/nl/wet/vreemdelingenwet_2000/2026-01-01.yaml
Due: none

refactor(engine): robustness improvements for hooks and overrides
  packages/engine/src/article.rs
  packages/engine/src/resolver.rs
  packages/engine/src/service.rs
  packages/engine/tests/expected_zorgtoeslag_trace.txt
Due: rust-format, rust-lint

fix(engine): harden override validation and schema constraints
  packages/engine/src/resolver.rs
  packages/engine/src/service.rs
  schema/v0.4.0/schema.json
Due: rust-format, rust-lint

refactor(engine): make hooks independent by removing accumulated state
  packages/engine/src/service.rs
  packages/engine/tests/expected_zorgtoeslag_trace.txt
Due: rust-format, rust-lint

fix(engine): move weekend knowledge from engine to YAML
  corpus/regulation/nl/wet/algemene_termijnenwet/2026-01-01.yaml
  packages/engine/src/article.rs
  packages/engine/src/operations.rs
  schema/v0.4.0/schema.json
Due: rust-format, rust-lint

fix(schema): constrain applies_to.legal_character and decision_type to enum
  schema/v0.4.0/schema.json
Due: none

fix(engine): filter parameters for hook articles (least privilege)
  packages/engine/src/service.rs
Due: rust-format, rust-lint

test(bdd): add edge-case scenarios for hooks and overrides
  features/bezwaartermijn.feature
  packages/engine/tests/bdd/steps/then.rs
  packages/engine/tests/bdd/steps/when.rs
Due: rust-format, rust-lint

refactor(engine): remove NEXT_DAY_NOT_IN, express Termijnenwet art 1 declaratively
  corpus/regulation/nl/wet/algemene_termijnenwet/2026-01-01.yaml
  packages/engine/src/article.rs
  packages/engine/src/operations.rs
  packages/engine/src/trace.rs
  packages/engine/src/types.rs
  packages/engine/tests/expected_zorgtoeslag_trace.txt
  schema/v0.4.0/schema.json
Due: rust-format, rust-lint

fix(engine): reject ambiguous ADD and tighten VariableNotFound handling
  packages/engine/src/operations.rs
  packages/engine/src/service.rs
Due: rust-format, rust-lint

test(bdd): add long-chain Termijnenwet extension scenarios
  features/bezwaartermijn.feature
Due: none

feat(admin): replace custom CSS with Storybook components and tokens
  packages/admin/frontend-src/app.js
  packages/admin/frontend-src/css/admin.css
  packages/admin/frontend-src/index.html
  packages/admin/frontend-src/package-lock.json
  packages/admin/frontend-src/package.json
Due: none

chore: add admin build output to gitignore
  .gitignore
Due: none

fix(admin): use click handler for harvest button, restore BWB validation
  packages/admin/frontend-src/app.js
  packages/admin/frontend-src/index.html
Due: none

fix(admin): review fixes for Storybook migration
  packages/admin/frontend-src/app.js
  packages/admin/frontend-src/css/admin.css
Due: none

fix(admin): force light mode via data-scheme attribute
  packages/admin/frontend-src/index.html
Due: none

fix(admin): fix dark mode by raising CSS target to preserve native light-dark()
  packages/admin/frontend-src/index.html
  packages/admin/frontend-src/vite.config.js
Due: none

Path conditions:
  rust-format: any of: \.rs$
  rust-lint: any of: \.rs$
  validate-law-yaml: any of: ^regulation/.*\.yaml$ and \.(yaml|yml)$
